html {
    height: 100%;
    width: 100%;
    color: #2d3436;
    font-family: "Segoe UI";
    font-weight: normal;
    font-size: 22px;
}

body {
    background-color:#ffffff;
}

#main {
    width: 960px;
    margin: 0 auto 0 auto;
    overflow: auto;
    margin-bottom: 75px;
}

#header {
    margin-bottom: 25px;
}

h1 {
    font-family: "Segoe UI";
    font-size: 60px;
    line-height: 48pt;
    width: 800px;
    color: #00abec;
    margin-bottom: 5px;
    margin-left: -4px;
}

#content {
    float: left;
    vertical-align: middle;
}

#content p {
    margin-top: 15px;
    margin-bottom: 15px;
}

#domain {
    font-size: 10pt;
}

p a, p a:visited, p a:active, p a:hover {
    color: #00abec;
}
#container {
    font-size: 18px;
    margin-bottom: 25px;
}
#container {
    font-size: 18px;
}
#containerHeader h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
#container p {
    margin-top: 3px;
    margin-bottom: 2px;
}
.addressDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.copy {
    border-radius: 3px;
    border: 1px solid #2d3436;
    background-color: transparent;
    color: #2d3436;
    height: 25px;
    width: 50px;
    margin-left: 10px;
}
.copy:active {
    background-color: #b9b9b9;
}
textarea {
    width: 100%;
    display: block;
    background-color: #2d3436;
    color: #dddddd;
    font-weight: 600;
    resize: none;
    border: none;
    border-radius: 5px;
}
.projectTitle {
    border-left: 3px solid #00abec;
    border-radius: 2px;
    padding-left: 10px;
    margin-left: 2px;
}